$widthSite: 1140px;
$widthSiteMainBlock: 1600px;
$colorAccentSite: #f16d7f;
$colorBgMain: #f1e4e6;
$colorProductCardBg: #f8f8f8;
$colorFooterText: #fbfbfb;
$colorBg : #f8f3f4;
$colorFilterText : #6F6E6E;